
@font-face {
  font-family: 'win99';
  src: url('./W95FA/w95fa.woff')  format('woff');
  font-weight: 900;
}

.blur-navbar{
  backdrop-filter: blur(4px) !important;
}
.click{
 cursor: pointer;
}

h1{
  line-height: 1.1 !important;
}